
@mixin displayFlex { 
    display: flex;
}

@mixin height ($height) { 
    height: $height;
}

@mixin width ($width) { 
    width: $width;
}

@mixin maxWidth ($maxWidth) { 
    max-width: $maxWidth;
}

@mixin minWidth ($minWidth) { 
    min-width: $minWidth;
}


@mixin maxHeight ($maxHeight) { 
    max-height: $maxHeight;
}

@mixin fontWeight ($fontWeight) { 
    font-weight: $fontWeight;
}

@mixin alingItems ($alingItems) { 
    align-items: $alingItems;
}

@mixin background-color ($backgroundcolor) { 
    background-color: $backgroundcolor;
}

@mixin padding ($padding) { 
    padding: $padding;
}

@mixin fontSize ($fontSize) { 
    font-size: $fontSize;
}

@mixin flexDirection ($flexDirection) { 
    flex-direction: $flexDirection;
}

@mixin margin ($margin) { 
    margin: $margin;
}

@mixin position ($position) { 
    position: $position;
}

@mixin justifyContent ($justifyContent) { 
    justify-content: $justifyContent;
}

@mixin borderRadius ($borderRadius) { 
    border-radius: $borderRadius;
}

*{
    box-sizing: border-box;
}

html, body{
    @include height(100%);
    @include margin(0);
    @include padding(0);
}

body{
    @include displayFlex;
    @include flexDirection(column);
    @include fontSize(15px);  
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.6;
    background-repeat: no-repeat;
    background-image: url('../sources/img/background.png');
    @include width(100%);
    @include height(100%);
    @include padding(0);
    background-size: cover;
    background-position: center center;
}


.header{
    @include width(100%);
    @include height(100%);
    @include displayFlex;
    @include maxHeight(80px);
}

.nav-container{
    @include displayFlex;
    @include width(100%);
    @include justifyContent(space-around);
    @include padding(1rem 0);
    @include background-color(rgba(0, 0, 0, 0.5));
    border-color: rgba(0, 0, 0, 0.6);
    @include position(fixed);
    right: 0;
    left: 0;
    border-width: 0 0 1px;
    border: 1px solid transparent;
    @include fontWeight(300);
    letter-spacing: 1px;
    color: white;
    @include height(100%);
    @include maxHeight(5rem);
}

.headerTitle{
    @include width(100%);
    @include width(100%);
    @include minWidth(200px);
    @include maxWidth(500px);
    text-align: center;
}

h1{
    margin-top: 5px;
    margin-bottom: 0;
    @include height(100%);
}

.headerTitle__a{
    @include fontSize(20px);
}

ul{
    @include padding(0);
    @include margin(0);    
    overflow: hidden;
    list-style-type: none;
    list-style: none;    
}
.list{
    margin-top: 10px;
}

li{
    cursor: pointer;
}

.nav-selector{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
    @include padding(0 1rem);
    @include fontSize(18px);   
}

.mainUl li>a{
    display: block;
    @include background-color(rgba(29, 28, 28, 0.3));
}


.mainUl li>a:hover{
    color: rgb(0, 0, 0);
    @include background-color(#d1cccc83);
  }

  .mainUl>li{
    float: left;
    text-align:center
  }

  .mainUl>li>ul{
    display: none;
  }

  .mainUl>li:hover>ul {
    display:block;
  }

  .socialMediaUl>li>a>img{ 
    @include width(40px);
    @include height(40px);       
    }

  .main-container{
    @include displayFlex;
    @include flexDirection(column);
    @include alingItems(center);
    @include justifyContent(center);
    @include width(100%);
    @include height(100%);
    @include fontWeight(300);
    @include maxHeight(55rem);
    @include padding(20px);
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff; 
}

.time{
    @include displayFlex;
    padding-top: 5rem;
}

.time-element{
    @include padding(0 2rem);
}

.name{
    @include fontSize(70px);
    @include margin(0);
    letter-spacing: 3px;
}

.prof{ 
    @include fontSize(40px);
    @include margin(0);
    letter-spacing: 3px; 
}

.main-container__content p{
    @include margin(0);
   text-align: center;
} 


.main-container__text{  
    padding-top: 2rem;
}

.main-container__text p{
    @include width(100%);
    @include maxWidth(1035px);
}

hr{
    @include margin(1rem 0);
    @include width(100%);
    @include maxWidth(70rem);
    @include height(0);
    border: 0;
    border-top: 1px solid #eeeeee;
  }
 

  .contact-container{
      display: none;
  }
  

  .time-hour{
    padding-top: 10rem;
    @include fontSize(70px);
    @include margin(0);
    letter-spacing: 3px;
  }


  @media screen and (max-width:780px) {


    html, body {
        @include height(100%);
        @include width(100%);
    }
    .header{
        @include width(100%);
    }
    
    .nav-container{
        @include displayFlex;
        @include width(100%);
        @include justifyContent(center);
        letter-spacing: 1px;
        color: white;
        @include flexDirection(column);
        @include alingItems(center);
        @include position(relative);
    }
    .list{
        margin-top: 0;
    }

    .contact{
        display: none;
    }

    .main-container{
        @include position(relative);
        @include height(771px); 
        @include padding(0);
        display: block;
        margin-top: 20px;
        overflow: scroll;
    }

    .main-container__title{
        @include padding(2rem);
    }
   
    .time{
        display: none;
    }

    .time-element{
        @include padding(0 1rem);
    }

    hr{
      display: none;
    }

    .main-container__content{
        @include displayFlex;
        @include flexDirection(column);
        @include justifyContent(center);
        @include alingItems(center);
    }

    .main-container__content p{
        @include padding(0);
        margin-top: 20px;
    }

    .name{
        @include fontSize(20px);
    }

    .prof{
        @include fontSize(15px);
    }

    .main-container__text{
        @include padding(2rem);
    }

    .contact-container{
        display: inline-block;
    }

    .contact-container div{
        @include padding(0);
        padding-top: 10px;
    }

    .contact-container__title{
        @include padding(10px 16px);
        @include fontSize(19px);       
        line-height: 1.33;       
      }

      .contact-container__media{
          @include displayFlex;
      }

      .a-media>a>img{
        @include width(30px);
        @include height(30px);
        border-radius: 50%;
      }

      .a-media{
          transition: 450ms all;
          transform-origin: center;
      }

      .a-media:hover{
        transform: scale(2);
      }

    .time-hour{
        @include fontSize(30px);
        @include padding(0);
        margin-top: 40px;
    }
}